<!DOCTYPE html>
<html>
  <head>
    <title>Mapstuff</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <%= link_to 'users', users_path %>
    <%= link_to 'locations', locations_path %>
    <%= link_to 'Home', root_path %>
  </body>
</html>
